h1 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 20px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#letter {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    width: 30ch;
}



#test {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edge:hover {
  background-color: rgb(248, 20, 20);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#letter:hover {
    font-size: 55px;
}

#edge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
        width: 140px;
        height: 140px;
        background-color: rgb(34, 34, 34);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5) ;
    }

#board {
  display: flex;
  justify-content: center;
  align-items: center;
        width: 120px;
        height: 120px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }

p {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 50px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
}

#p2 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
}

#p3 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
}