h1 {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    margin-top: 20px;
}

p {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    max-width: 40ch;
}