body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* fixed-size-image {
  width: 300px;
  height: 200px;
} */

#title {
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 130px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
    display: flex;
    margin-top: 20px;
}

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#p1 {
  max-width: 30CH;
    font-family: 'permanent-marker', sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgb(34, 34, 34);
    text-align: center;
}


#container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  hover: {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5) yellow;
  }
}

#test {
  display: flex;
  justify-content: center;
  align-items: center;
}

#edge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
        width: 950px;
        height: 700px;
        background-color: rgb(34, 34, 34);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5) ;
    }

#board {
  display: flex;
  justify-content: center;
  align-items: center;
        width: 900px;
        height: 650px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
    }

img:hover {
  /*box-shadow: 0 0 20px 20px rgba(0, 0, 0, 1) rgb(12, 9, 164);*/
  box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.7);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}